# --- Maven & Build ---
**/target/
.m2/

# --- Eclipse / STS ---
**/.classpath
**/.project
**/.settings/
**/.factorypath
.metadata/

# --- IDE (VS Code / IntelliJ) ---
.vscode/
.idea/
*.iml

# --- Logs & Temp ---
**/logs/
*.log
hs_err_pid*
replay_pid*
*.pid

# --- Environment & Secrets ---
.env
uploads/

# --- Sonar ---
.sonarlint/

# --- OS Files ---
.DS_Store
Thumbs.db